<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AnbarPersitence.Properties.Settings.AnbarProjectConnectionString"
            connectionString="Data Source=WSN-MIS-64\SEPIDAR;Initial Catalog=AnbarProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>